section {
	width: 800px;
	margin: 100px auto;
}
section h1,
section p {
	text-align: center;
	font-variant: small-caps;
	font-family: 'Piedra', cursive;
	color: #800000;
}
section h1 {
	font-size: 60px;
	font-weight: bold;
}
section p {
	font-size:  48px;
	font-weight: bolder;
}